.myDiv {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #f9f9f9;
}
.mySec {
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 5px 5px 5px 4px #f9f9f9;
}
form {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
label {
  margin: 10px;
  margin-left: 0px;
}
.ash {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ash > label {
  font-size: 10px;
}
.muButton {
  background-color: #4f46e5;
  border-width: 0px;
  color: #ffffff;
  border-style: none;
  padding: 8px;
  border-radius: 4px;
  color: #ffffff;
}

img {
  height: 60px;
}
